<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club 2018"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">
        Po odhlášení dvou tenistů nás zůstalo v turnaji 11. Systém zůstává stejný, tj. "každý s každým". Každého tedy čeká 10 zápasů a finále bude 1. září.
      </div>

    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->