<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club 2016"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">Základní skupiny je nutné dohrát do konce června. V základní skupině hraje každý šest zápasů na dva vítězné sety.</div>
    </div>


    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->