<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club <%= Date.today.year %>"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">
        Do turnaje se přihlásilo 7 hráčů a proto budeme hrát systémem "každý s každým". Každého tedy čeká 6 zápasů.<br>
        Ja bude probíhat finále, příp. jestli vůbec bude, to vše ještě domluvíme.
      </div>

    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->