<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club 2016"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">Po odhlášení Pepy Stromšíka z turnaje má skupina jen 11 hráčů, kde hraje každý s každým na dva vítězné sety. Ve všech setech se případně hraje tiebreak. <b>Termín pro odehrání zápasů je do konce prázdnin, tzn. do 31.8.</b> Hrací systém finálového dne turnaje ještě upřesníme.</div>
    </div>


    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->