<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club 2017"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">
        V turnaji máme dvě skupiny po osmi hráčích, které se hrají systémem každý s každým. Každý zápas se hraje na 2 vítězné standartní sety, za stavu 6:6 se hraje tiebreak. Případný třetí set se hraje stejným způsobem. Zápas si domlouvá každý sám, výsledky hlaste na email <b>eiger@centrum.cz</b>.
      </div>
      <div class="head-info">
        <b>Základní skupiny musí být odehrány do konce července</b>, máme na to tedy dva měsíce. Srpen je vyhrazen na semifinálové zápasy a finálový den (<b>sobota 9.9.2017</b>) si každý zahraje své finálové utkání.
      </div>
    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->