<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club 2018"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">
        Vzhledem k tomu, že se nás sešlo 13, rozhodli jsme se udělat pouze jednu skupinu, která se bude hrát systémem "každý s každým". Každého tedy čeká 12 zápasů. První polovinu zápasů bychom měli dohrát do konce června, druhou do konce srpna. Máme na to tedy téměř 4 měsíce. Finále nás čeká 1. září.
      </div>

    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->