<!-- Content -->
<div id="content">
  <div class="container">
    <div class="f-center">
      <h2>Valašská Inteligentní Partyja "Dolina Club 2017"</h2>
      <div class="head-info">Letní turnaj ve dvouhrách.</div>
    </div>
    <div class="f-hr"></div>
    <div class="row space40"></div>

    <div class="f-center">
      <div class="head-info">
        Základní skupiny máme dohrány. Tím jsme získali rozlosování do vyřazovací části, kde každého čekají ještě tři zápasy. Zápasy se hrají na 2 vítězné standartní sety, za stavu 6:6 se hraje tiebreak. Případný třetí set se hraje stejným způsobem. Čtvrtfinále musí být odehráno do <b>neděle 27.8.</b>, semifinále pak do <b>pátku 8.9.</b> Finále nás čeká následující den, tj. <b>sobota 9.9.</b>, kde každý odehraje své finále (pořadí zápasů teprve určíme). Čtvrtfinále a semifinále si domlouvá každý sám, výsledky hlaste na email <b>eiger@centrum.cz</b>.
      </div>

    </div>

    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->