<%= render :partial => 'partials/titlebar', locals: {title: 'Pravidla turnaje'} %>

<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <h3>Organizace turnaje</h3>

          <ul class="list-a" style="margin-left: 20px">
            <li>Turnaj má jednu skupinu s počtem 8 hráčů.</li>
            <li>Hraje se systémem "každý s každým".</li>
            <li>Zápas se hraje na <b>dva vítězné sety</b>, při stavu 6:6 se hraje klasický tiebreak. Případný třetí set se hraje stejně.</li>
            <li>Zápas si každý domlouvá sám a po ukončení zápasu nahlásí výsledek na email <b><a class="more" href="mailto:eiger@centrum.cz">eiger@centrum.cz</a></b>.</li>
            <li>Průběžné informace a výsledky budou dostupné zde, na webu <b><a class="more" href="http://dolinacup.herokuapp.com">www.dolinacup.herokuapp.com</a></b>.</li>
          </ul>   

        <h3>Postup při neodehraném zápasu</h3>

          <ul class="list-a" style="margin-left: 20px">
            <li>Aktéři neodehraného zápasu se domluví a nahlásí, kdo zápas skrečoval. V takovém případě se zapisuje výsledek 6:0, 6:0.</li>
            <li>V případě, že se aktéři neodehraného zápasu nebudou schopni domluvit, zapisuje se oběma 0 bodů při skóre 0:6, 0:6.</li>
          </ul>

        <h3>O pořadí ve skupině rozhoduje</h3>

          <ul class="list-a" style="margin-left: 20px">
            <li>Počet bodů (počet vyhraných zápasů)</li>
            <li>Při rovnosti bodů rozhoduje vzájemný zápas</li>
            <li>Při rovnosti bodů více hráčů rozhoduje minitabulka vzájemných zápasů (ta se řídí stejnými pravidly)</li>
            <li>Poměr setů (vyhrané sety / prohrané sety - vyšší číslo je lepší)</li>
            <li>Vyší počet vyhraných setů</li>
            <li>Poměr gemů (vyhrané gemy / prohrané gemy - vyšší číslo je lepší)</li></li>
            <li>Vyší počet vyhraných gemů</li>
            <li>Pokud nebude možno rozhodnout podlé žádných zde uvedených kritérií, rozhodne výše úplatku nebo los :)</li>
          </ul>

      </div>
    </div>

    <div class="space50"></div> 


  </div>
</div>
