<%= render :partial => 'partials/titlebar', locals: {title: 'Tabulky'} %>

<!-- Content -->
<div id="content">
  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="space20"></div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#blue" aria-controls="blue" role="tab" data-toggle="tab">Modrá skupina</a></li>
          <li role="presentation"><a href="#red" aria-controls="red" role="tab" data-toggle="tab">Červená skupina</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="blue">
            <div class="space20"></div>

            <table class="table table-bordered">

                <tr class="result">
                  <th class="v-middle lightblue" style="width: 13%;"></th>
                  <th class="v-middle" style="width: 12%">Pavel<br>Mžik</th>
                  <th class="v-middle" style="width: 12%">Martin<br>Krupa</th>
                  <th class="v-middle" style="width: 12%">Mira<br>Kokeš</th>
                  <th class="v-middle" style="width: 12%">Leoš<br>Rek</th>
                  <th class="v-middle" style="width: 13%">Honza<br>Schwarz</th>
                  <th class="v-middle" style="width: 13%">Peťa<br>Kutač</th>
                  <th class="v-middle" style="width: 13%">Michal<br>Strakoš</th>
                </tr>
                <tr class="result">
                  <th class="v-middle">Pavel<br>Mžik</th>
                  <td class="lightblue"></td>
                  <td></td>
                  <td>6:4, 7:5</td>
                  <td>6:3, 6:4</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle">Martin<br>Krupa</th>
                  <td></td>
                  <td class="lightblue"></td>
                  <td>6:2, 6:2</td>
                  <td></td>
                  <td>3:6, 3:6</td>
                  <td>6:3, 6:0</td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle">Mira<br>Kokeš</th>
                  <td>4:6, 5:7</td>
                  <td>2:6, 2:6</td>
                  <td class="lightblue"></td>
                  <td></td>
                  <td>1:6, 3:6</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle">Leoš<br>Rek</th>
                  <td>3:6, 4:6</td>
                  <td></td>
                  <td></td>
                  <td class="lightblue"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle">Honza<br>Schwarz</th>
                  <td></td>
                  <td>6:3, 6:3</td>
                  <td>6:1, 6:3</td>
                  <td></td>
                  <td class="lightblue"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle">Peťa<br>Kutač</th>
                  <td></td>
                  <td>3:6, 0:6</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="lightblue"></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle">Michal<br>Strakoš</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="lightblue"></td>
                </tr>

            </table>
          </div>

          <div role="tabpanel" class="tab-pane" id="red">
            <div class="space20"></div>

            <table class="table table-bordered" style="background: ">

                <tr class="result">
                  <th class="v-middle lightred" style="width: 13%;"></th>
                  <th class="v-middle" style="width: 12%">Tomáš<br>Bartoň</th>
                  <th class="v-middle" style="width: 12%">Peťa<br>Lehnert</th>
                  <th class="v-middle" style="width: 12%">Luďa<br>Křístek</th>
                  <th class="v-middle" style="width: 12%">Libor<br>Stanislav</th>
                  <th class="v-middle" style="width: 13%">Radim<br>Běčák</th>
                  <th class="v-middle" style="width: 13%">Honza<br>Tabach</th>
                  <th class="v-middle" style="width: 13%">Pepa<br>Stromšík</th>
                </tr>
                <tr class="result">
                  <th class="v-middle">Tomáš<br>Bartoň</th>
                  <td class="lightred"></td>
                  <td>6:3, 7:6</td>
                  <td></td>
                  <td>6:2, 6:1</td>
                  <td>7:6, 4:6, 7:4</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle" style="width: 12%">Peťa<br>Lehnert</th>
                  <td>3:6, 6:7</td>
                  <td class="lightred"></td>
                  <td></td>
                  <td>7:5, 5:7, 6:10</td>
                  <td>1:6, 0:6</td>
                  <td></td>
                  <td>1:6, 1:6</td>
                </tr>
                <tr class="result">
                  <th class="v-middle" style="width: 12%">Luďa<br>Křístek</th>
                  <td></td>
                  <td></td>
                  <td class="lightred"></td>
                  <td></td>
                  <td></td>
                  <td>0:6, 1:6</td>
                  <td>3:6, 2:6</td>
                </tr>
                <tr class="result">
                  <th class="v-middle" style="width: 12%">Libor<br>Stanislav</th>
                  <td>2:6, 1:6</td>
                  <td>5:7, 7:5, 10:6</td>
                  <td></td>
                  <td class="lightred"></td>
                  <td></td>
                  <td>6:3, 1:6, 3:6</td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle" style="width: 13%">Radim<br>Běčák</th>
                  <td>6:7, 6:4, 4:7</td>
                  <td>6:1, 6:0</td>
                  <td></td>
                  <td></td>
                  <td class="lightred"></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle" style="width: 13%">Honza<br>Tabach</th>
                  <td></td>
                  <td></td>
                  <td>6:0, 6:1</td>
                  <td>3:6, 6:1, 6:3</td>
                  <td></td>
                  <td class="lightred"></td>
                  <td></td>
                </tr>
                <tr class="result">
                  <th class="v-middle" style="width: 13%">Pepa<br>Stromšík</th>
                  <td></td>
                  <td>6:1, 6:1</td>
                  <td>6:3, 6:2</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="lightred"></td>
                </tr>

            </table>
          </div>

        </div>

      </div>
    </div>
    <div class="space50"></div> 

  </div>
</div>
<!-- Content End -->

