<% errors = object.errors.full_messages.uniq %>
<% m = object.class.to_s.downcase %>

<% if errors.any? %>

<div class="row">
  <div class="col-md-12">

    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      
      <strong>Nelze přihlásit:</strong>
      <ul>
        <% errors.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      
      </ul>
    </div>

  </div>
</div>

<div class="space20"></div> 

<% end %>