<!-- Footer -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Kontakt</h3>
          Valašská Inteligentní Partyja "Dolina Club <%= Date.today.year %>"<br>
          <span class="glyphicon glyphicon-envelope"></span><a href="mailto:eiger@centrum.cz">eiger@centrum.cz</a><br>
          <span class="glyphicon glyphicon-home"></span><a href="http://dolinacup.herokuapp.com/" target="_blank">www.dolinacup.herokuapp.com</a><br>

        </div>
      </div>
      
      <div class="row space20"></div>
      <div class="row">
        <div class="col-md-6">
          <div class="logo-footer">
            Design by <a href="#">xEiger</a>
          </div>                       
        </div>
        <div class="col-md-6 right">
          &copy; <%= Date.today.year %>. Všechna práva vyhrazena.
        </div>
      </div>

    </div>
  </footer>
  <!-- Footer End -->