<div class="slider1 flexslider">  <!-- Slider -->
  <ul class="slides">
    <% 8.times do |count| %>
      <li>
        <%= image_tag "slider/#{(count + 1).to_s}.jpg"%>
      </li>
    <% end %>
  </ul>
</div>  <!-- Slider End -->
