<!-- Titlebar
================================================== -->
<section id="titlebar">
  <!-- Container -->
  <div class="container">
  
    <div class="eight columns">
      <h3 class="left"><%= title %></h3>
    </div>
    
    <div class="eight columns">
      <nav id="breadcrumbs">
        <ul>
          <li>Jste zde:</li>
          <li><%= link_to 'Domů', home_page_path %></li>
          <li><%= title %></li>
        </ul>
      </nav>
    </div>

  </div>
  <!-- Container / End -->
</section>